<h2>Courses</h2>

<form>
    <div>
        <label for="coursename">Course Name:</label>
        <input type="text" id="coursename" name="coursename"><br>
    </div>
    <div>
        <label for="levels">Level:</label>
        <select id="levels">
            <option value="">select</option>
            <option value="level1">level1</option>
            <option value="level2">level2</option>
            <option value="level3">level3</option>
            <option value="level4">level4</option>
        </select><br>
    </div>
    <div>
        <label for="categories">Categories</label>
        <select id="caategories">
            <option value="">select</option>
            <option value="java">java</option>
            <option value="pyhton">pyhton</option>
            <option value="c">C</option>
            <option value="java8">java8</option>
        </select><br>
    </div>
    <div>
        <label for="tags">Tags:</label>
        <input type="text" id="tags" name="tags"><br>
    </div>
    <div>
        <label for="leveloverride">Level Override</label>
        <input type="radio" name="leveloverride" value="on"> On
        <input type="radio" name="leveloverride" value="off"> Off<br>
    </div>
    <div>
        <label for="available">Available for:</label>
        <input type="checkbox" id="presignup" name="presignup" value="presignup">
        <label for="presignup"> Pre-signup</label>
        <input type="checkbox" checked="checked" id="sluglogin" name="sluglogin" value="sluglogin">
        <label for="sluglogin"> Logged in users via slug</label>
        <input type="checkbox" id="dashboard" name="dashboard" value="dashboard">
        <label for="dashboard"> Dashboard</label><br>
    </div>
    <div>
        <label for="enrollment"> Enrollment Activity Points</label>
        <input type="number" id="enrollment" value="100"><br>
    </div>
    <div>
        <label for="completion"> Completion Activity Points</label>
        <input type="number" id="completion" value="100"><br>
    </div>
    <div>
        <label for="desc">Description:</label>
        <input type="text" id="desc" name="description"><br>
    </div>
    <div>
        <label for="metakey">Meta Keyword:</label>
        <input type="text" id="metakey" name="metakey"><br>
    </div>
    <div>
        <label for="metadesc">Meta Description:</label>
        <input type="text" id="metadesc" name="metadesc"><br>
    </div>
</form>