<div class="container">
<div>
    <h2 class="left">Courses</h2>
    <div class="right">
        <button type="button" class="btn btn-primary" style="margin-right:10px">Edit</button>
        <button type="button" class="btn btn-primary" style="margin-right:10px">Clone</button>
        <button type="button" class="btn btn-primary" style="margin-right:10px">Delete</button>
        <button type="button" class="btn btn-primary" style="margin-right:10px" (click)=back()>Back</button>
    </div>
</div>
<hr>
<div *ngFor="let o of object">
    <div class="center">
<div class="alert alert-primary" style="text-align: center;">
    {{o.name}} - 
  </div>
  <div *ngIf=o.levels.name>level : {{o.levels.name}}
</div>
<div *ngIf=o.categories.name>
    Category : {{o.categories.name}}
</div>
<div *ngIf=o.slug>
Slug: <a href="#">https://qa.revature.com/REV/course/{{o.slug}}</a>
</div>
Level Over-ride:
    </div>
    <div>
        Available for:
    </div>
    <div *ngIf="o.active== false">
        Active: No
    </div>
    <div>
        Enrollment Activity Points:
    </div>
    <diV>
        Completion Activity Points:
    </diV>
<div *ngIf=o.tag>
    Tags: {{o.tag}}
</div>
<div>
Mode:
</div>
<div *ngIf=o.created_by>
    Created By: {{o.created_by}}
</div>
<div *ngIf=o.created_on>
    Created On: {{o.created_on|date}}
</div>
  <div *ngIf=o.modified_by>
      Modified By: {{o.modified_by}}
  </div>
  <div *ngIf=o.modified_on>
    Modified On: {{o.modified_on|date}}
</div>
</div>
</div>